<h1>LOGIN</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <title>Document</title>
</head>
<body>
    <div class="psesion">
    <p>Iniciar Sesion</p>
</div>
<div class="btnRegister">
    <button (click)="navegar()">Registrarse</button>
    <button (click)="navegar1()">Dashboard</button>
    <br><br>

</div>
    <div class="login">
        <label for="">Name</label><br>
        <input type="text" name="" id="" [(ngModel)]="campo" placeholder="ingresa tu nombre">
        <br><br>
        <label for="">Password</label><br>
        <input type="text" name="" id="" [(ngModel)]="campo" placeholder="ingresa tu password ">
        <button>Guardar</button>   
    </div>
</body>
</html>


