<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.component.css">
    <title>Document</title>
</head>
<body>
    <div class="psesion">
    <p>Register</p>
</div>
<div class="btnRegister">
</div>
    <div class="Register">
        <label for="">Name</label><br>
        <input type="text" name="" id="" placeholder="ingresa tu nombre">
    
        <br><br>
        <label for="">Password</label><br>
        <input type="text" name="" id="" placeholder="ingresa tu password ">

        <button>Guardar</button>   
    </div>
</body>
</html>